@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <br />
        <br />
        <p>Welcome to the PizzaBox Application. Use the navigation to login or place an order.</p>
        <br />
        <br />
        <br />
        <p></p>
    </div>
